<password-manager-header></password-manager-header>
<div class="pm--Container-Spotlight">
  <mat-card class="pm--BackgroundColor-Gray100">
    <mat-card-header class="pm--Form-Title"
      ><mat-card-title class="pm--Text-Center">Create a Password</mat-card-title
      ><mat-card-subtitle class="pm--Text-Center"
        >Here you can create a new password to save and access whenever you need.</mat-card-subtitle
      ></mat-card-header
    >
    <div class="pm--Form-Content pm--mt8">
      <mat-card-content>
        <mat-form-field class="pm--Form-Field">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Example" />
        </mat-form-field>
        <mat-form-field class="pm--Form-Field">
          <mat-label>Website</mat-label>
          <input matInput placeholder="https://example.com" />
        </mat-form-field>
        <mat-form-field class="pm--Form-Field">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login" />
        </mat-form-field>
        <mat-form-field class="pm--Form-Field">
          <mat-label>Password</mat-label>
          <input matInput placeholder="P@ssword123" />
        </mat-form-field>
        <mat-form-field class="pm--Form-Field">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="P@ssword123" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="pm--Form-Actions pm--mb8">
        <button mat-raised-button class="pm--Form-Action" color="primary">Create Password</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
