.angular
.vscode
coverage
data
db
dist
docs
node_modules
tmp
.dockerignore
.editorconfig
.eslintrc
.prettierignore
.prettierrc
docker-compose.yml
jest.config.ts
jest.preset.js
nx.json
*.md
*.spec.ts
apps/password-manager-ui-e2e
