{
    "extends": ["../../.eslintrc"],
    "ignorePatterns": ["!**/*"],
    "overrides": [
        {
            "files": ["**/*.ts"],
            "parserOptions": { "project": ["libs/password-manager-types/tsconfig.lib.json"] }
        }
    ]
}
