{
    "extends": ["../../.eslintrc"],
    "ignorePatterns": ["!**/*"],
    "rules": {
        "no-shadow": "off"
    },
    "overrides": [
        {
            "files": ["**/*.ts"],
            "parserOptions": { "project": ["libs/password-manager-types/tsconfig.lib.json"] }
        }
    ]
}
