<div [ngSwitch]="type" [ngClass]="additionalClasses">
  <button
    *ngSwitchCase="'basic'"
    class="pm--Button"
    [ngClass]="{
      'pm--BackgroundColor-White': color == 'basic'
    }"
    mat-button
    [color]="color"
    (click)="(onClick)"
  >
    {{ label }}
  </button>
  <button
    *ngSwitchCase="'raised'"
    class="pm--Button"
    [ngClass]="{
      'pm--BackgroundColor-White': color == 'basic'
    }"
    mat-raised-button
    [color]="color"
    (click)="(onClick)"
  >
    {{ label }}
  </button>
  <button
    *ngSwitchCase="'stroked'"
    class="pm--Button"
    [ngClass]="{
      'pm--BackgroundColor-White': color == 'basic'
    }"
    mat-stroked-button
    [color]="color"
    (click)="(onClick)"
  >
    {{ label }}
  </button>
  <button
    *ngSwitchCase="'flat'"
    class="pm--Button"
    [ngClass]="{
      'pm--BackgroundColor-White': color == 'basic'
    }"
    mat-flat-button
    [color]="color"
    (click)="(onClick)"
  >
    {{ label }}
  </button>
  <button *ngSwitchCase="'icon'" mat-icon-button [color]="color" (click)="(onClick)">
    {{ label }}
  </button>
  <button *ngSwitchCase="'fab'" mat-fab [color]="color" (click)="(onClick)">
    {{ label }}
  </button>
  <button *ngSwitchCase="'miniFab'" mat-mini-fab [color]="color" (click)="(onClick)">
    {{ label }}
  </button>
</div>
