<nav class="pm--Header pm--BackgroundColor-Primary pm--p5">
  <div class="pm--Header-Logo pm--Color-Gray300">Password Manager</div>

  <div class="pm--Header-Links">
    <ul>
      <li>
        <button>Foo bar</button>
      </li>
      <li>
        <button>Foo bar</button>
      </li>
    </ul>

    <div class="pm--Vertical-Divider--gray300"></div>

    <ul>
      <li>
        <button>Foo bar</button>
      </li>
      <li>
        <button>Foo bar</button>
      </li>
    </ul>
  </div>
</nav>
