@import '../../../styles/colors.scss';

.pm--Header-Mobile {
    display: none;
}

.pm--Header-Logo {
    font-size: 1.5rem;

    a {
        color: $pm-color-white;
        text-decoration: none;
    }
}

.pm--Header-Links {
    display: flex;
    flex-direction: flex;
    margin-left: auto;
}

.pm--Vertical-Divider--gray300 {
    margin: 18px 24px;
}

ul {
    display: flex;
    padding: 0;

    li {
        display: inline-flex;
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .pm--Header-Desktop {
        display: none;
    }

    .pm--Header-Mobile {
        display: block;

        .pm--Header-Logo {
            margin: 0 auto;
        }

        .pm--Header-Links {
            margin-right: auto;
        }
    }
}
