{
    "extends": ["../../.eslintrc"],
    "ignorePatterns": ["!**/*"],
    "rules": {
        "@typescript-eslint/no-explicit-any": "off"
    },
    "overrides": [
        {
            "files": ["**/*.ts"],
            "parserOptions": { "project": ["libs/config/tsconfig.lib.json"] }
        },
        {
            "files": ["jest.config.ts", "**/*spec.ts"],
            "parserOptions": { "project": ["libs/config/tsconfig.spec.json"] }
        }
    ]
}
