@import 'colors';
@import 'sizing';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/***** Page/Layout *****/
.pm--Container {
    padding: 32px;
    margin: 0 auto;
}

/***** Vertical Divider *****/
.pm--Vertical-Divider {
    border-left: 1px solid $pm-color-black;
    height: 100%;
    margin: 0 8px;
}

.pm--Vertical-Divider--primary {
    border-left: 1px solid $pm-color-primary;
    height: 100%;
    margin: 0 8px;
}

.pm--Vertical-Divider--secondary {
    border-left: 1px solid $pm-color-secondary;
    height: 100%;
    margin: 0 8px;
}

.pm--Vertical-Divider--terinary {
    border-left: 1px solid $pm-color-terinary;
    height: 100%;
    margin: 0 8px;
}

@each $weight, $color in $pm-gray-map {
    .pm--Vertical-Divider--gray#{$weight} {
        border-left: 1px solid $color;
        height: 100%;
        margin: 0 8px;
    }
}

/***** Generic/Common *****/
.pm--Text-Center {
    text-align: center;
}
