@import 'colors';
@import 'sizing';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/***** Page/Layout *****/
.pm--Container {
    padding: 32px;
    margin: 0 auto;
}

/***** Vertical Divider *****/
.pm--Vertical-Divider {
    border-left: 1px solid $pm-color-black;
    margin: 12px 8px;
}

.pm--Vertical-Divider--primary {
    border-left: 1px solid $pm-color-primary;
    margin: 12px 8px;
}

.pm--Vertical-Divider--secondary {
    border-left: 1px solid $pm-color-secondary;
    margin: 12px 8px;
}

@each $weight, $color in $pm-gray-map {
    .pm--Vertical-Divider--gray#{$weight} {
        border-left: 1px solid $color;
        margin: 12px 8px;
    }
}

/***** Generic/Common *****/
.pm--Text-Center {
    text-align: center;
}
