@import './styles/colors.scss';
@import './styles/forms.scss';
@import './styles/sizing.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/***** Page/Layout *****/
.pm--Container {
    height: 100vh;
    padding: 64px;
    margin: 0 auto;
}

.pm--Container-Spotlight {
    height: 100vh;
    padding: 64px 300px;
    margin: 0 auto;
}

@media screen and (max-width: 1080px) {
    .pm--Container-Spotlight {
        padding: 64px 24px;
    }
}

/***** Vertical Divider *****/
.pm--Vertical-Divider {
    border-left: 1px solid $pm-color-black;
    margin: 12px 8px;
}

.pm--Vertical-Divider--primary {
    border-left: 1px solid $pm-color-primary;
    margin: 12px 8px;
}

.pm--Vertical-Divider--secondary {
    border-left: 1px solid $pm-color-secondary;
    margin: 12px 8px;
}

@each $weight, $color in $pm-gray-map {
    .pm--Vertical-Divider--gray#{$weight} {
        border-left: 1px solid $color;
        margin: 12px 8px;
    }
}

/***** Generic/Common *****/
.pm--Text-Center {
    text-align: center;
}
