<div class="pm--Container-Spotlight">
  <mat-card class="pm--BackgroundColor-Gray100">
    <mat-card-header class="pm--Form-Title">
      <mat-card-title class="pm--Text-Center">
        <img src="/assets/images/password-manager-logo.png" height="200px" width="200px" />
      </mat-card-title>
      <mat-card-subtitle class="pm--Text-Center">Please enter your username and password.</mat-card-subtitle>
    </mat-card-header>
    <form class="pm--Form-Content pm--mt8" [formGroup]="loginFormGroup" novalidate>
      <mat-card-content>
        <password-manager-input
          [parentFormGroup]="loginFormGroup"
          formKey="username"
          label="Username"
          placeholder="Username"
          [required]="true"
          errorMessage="Username must be at least 5 characters and no more than 20."
        ></password-manager-input>
        <password-manager-input
          [parentFormGroup]="loginFormGroup"
          formKey="password"
          label="Password"
          placeholder="P@ssword123"
          type="password"
          [required]="true"
          errorMessage="This field is required"
        ></password-manager-input>
      </mat-card-content>
      <mat-card-actions class="pm--Form-Actions pm--mb8">
        <password-manager-button
          class="pm--Form-Action"
          label="Login"
          color="primary"
          type="raised"
        ></password-manager-button>
      </mat-card-actions>
      <mat-card-footer>
        <a mat-button class="pm--mr5" color="accent" href="/password-recovery">Forgot username or password?</a>
        <a mat-button color="accent" href="/sign-up">Don't have an account? Create one</a>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
